/* Dark Theme */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;                                                                                                             
    color: #e0e0e0;
    line-height: 1.6;      

  header {
    background: #1f1f1f;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid #333;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  h2 {
    margin-top: 2rem;
    color: #00ffe5;
  }
  
  section {
    padding: 1rem 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
  }
  
  .cards {
    --border-angle: 0deg;
    --bg: #1e1e1e;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .card {
    /* background: #1e1e1e; */
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 250px;
    /* border: 1px solid #333; */
    transition: transform 0.2s;
    box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
    animation: border-angle-rotate 2s infinite linear;
    border: 0.1rem solid transparent;
    position: relative;
    background: linear-gradient(#1e1e1e, #302d2d) padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--bg) 50%,
        white
        )
        border-box;

    /* background: linear-gradient(white, white) padding-box,
      conic-gradient(
          from var(--border-angle),
          oklch(100% 100% 0deg),
          oklch(100% 100% 45deg),
          oklch(100% 100% 90deg),
          oklch(100% 100% 135deg),
          oklch(100% 100% 180deg),
          oklch(100% 100% 225deg),
          oklch(100% 100% 270deg),
          oklch(100% 100% 315deg),
          oklch(100% 100% 360deg)
        )
        border-box; */
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  a {
    color: #00ffe5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 1rem;
  }
   
  footer {
    text-align: center;
    padding: 2rem;
    background: #1f1f1f;
    border-top: 2px solid #333;
    margin-top: 2rem;
  }

  ::selection {
    background: #00ffe5;
    color: #FFFFFF;
  }
}

@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}
@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    opacity: 10%;
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 7.24em;
    --top-offset: 38.79vh;
    --fall-duration: 6.064s;
    --fall-delay: 9.914s;
  }
  .star:nth-child(2) {
    --star-tail-length: 7.01em;
    --top-offset: 82.79vh;
    --fall-duration: 7.301s;
    --fall-delay: 7.983s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.45em;
    --top-offset: 0.72vh;
    --fall-duration: 9.995s;
    --fall-delay: 2.259s;
  }
  .star:nth-child(4) {
    --star-tail-length: 7.08em;
    --top-offset: 11.61vh;
    --fall-duration: 7.636s;
    --fall-delay: 8.982s;
  }
  .star:nth-child(5) {
    --star-tail-length: 6.99em;
    --top-offset: 9.62vh;
    --fall-duration: 9.871s;
    --fall-delay: 5.15s;
  }
  .star:nth-child(6) {
    --star-tail-length: 7.07em;
    --top-offset: 47.35vh;
    --fall-duration: 6.151s;
    --fall-delay: 4.649s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.38em;
    --top-offset: 90.82vh;
    --fall-duration: 11.519s;
    --fall-delay: 4.069s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.01em;
    --top-offset: 13.97vh;
    --fall-duration: 7.845s;
    --fall-delay: 3.879s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.35em;
    --top-offset: 80.06vh;
    --fall-duration: 6.491s;
    --fall-delay: 4.284s;
  }
  .star:nth-child(10) {
    --star-tail-length: 7.3em;
    --top-offset: 55.19vh;
    --fall-duration: 10.956s;
    --fall-delay: 3.601s;
  }
  .star:nth-child(11) {
    --star-tail-length: 5.27em;
    --top-offset: 3.45vh;
    --fall-duration: 10.187s;
    --fall-delay: 6.857s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.68em;
    --top-offset: 91.12vh;
    --fall-duration: 8.454s;
    --fall-delay: 3.761s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5.2em;
    --top-offset: 0.31vh;
    --fall-duration: 8.085s;
    --fall-delay: 8.922s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.66em;
    --top-offset: 89.45vh;
    --fall-duration: 7.656s;
    --fall-delay: 0.432s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.45em;
    --top-offset: 44.92vh;
    --fall-duration: 8.459s;
    --fall-delay: 8.14s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.02em;
    --top-offset: 10.09vh;
    --fall-duration: 7.011s;
    --fall-delay: 8.045s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.15em;
    --top-offset: 57.79vh;
    --fall-duration: 6.23s;
    --fall-delay: 0.613s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.57em;
    --top-offset: 88.2vh;
    --fall-duration: 10.03s;
    --fall-delay: 5.408s;
  }
  .star:nth-child(19) {
    --star-tail-length: 5.84em;
    --top-offset: 11.41vh;
    --fall-duration: 6.994s;
    --fall-delay: 5.123s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.25em;
    --top-offset: 83.17vh;
    --fall-duration: 9.094s;
    --fall-delay: 4.048s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.83em;
    --top-offset: 9.16vh;
    --fall-duration: 7.222s;
    --fall-delay: 6.212s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.97em;
    --top-offset: 29.02vh;
    --fall-duration: 9.321s;
    --fall-delay: 9.165s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.5em;
    --top-offset: 68.71vh;
    --fall-duration: 8.228s;
    --fall-delay: 4.428s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.64em;
    --top-offset: 1.94vh;
    --fall-duration: 10.794s;
    --fall-delay: 3.395s;
  }
  .star:nth-child(25) {
    --star-tail-length: 5.7em;
    --top-offset: 32.29vh;
    --fall-duration: 8.316s;
    --fall-delay: 6.493s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.61em;
    --top-offset: 69.46vh;
    --fall-duration: 6.628s;
    --fall-delay: 8.274s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.86em;
    --top-offset: 60.43vh;
    --fall-duration: 9.832s;
    --fall-delay: 8.71s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.93em;
    --top-offset: 63.74vh;
    --fall-duration: 10.44s;
    --fall-delay: 3.465s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.39em;
    --top-offset: 13.57vh;
    --fall-duration: 9.999s;
    --fall-delay: 9.831s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.32em;
    --top-offset: 64.39vh;
    --fall-duration: 7.448s;
    --fall-delay: 8.982s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.5em;
    --top-offset: 63.92vh;
    --fall-duration: 9.148s;
    --fall-delay: 2.686s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.84em;
    --top-offset: 96.22vh;
    --fall-duration: 9.823s;
    --fall-delay: 1.089s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.83em;
    --top-offset: 89.83vh;
    --fall-duration: 7.139s;
    --fall-delay: 3.262s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.85em;
    --top-offset: 72.55vh;
    --fall-duration: 6.412s;
    --fall-delay: 8.818s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.44em;
    --top-offset: 79.81vh;
    --fall-duration: 9.45s;
    --fall-delay: 7.826s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.26em;
    --top-offset: 35.36vh;
    --fall-duration: 9.633s;
    --fall-delay: 5.058s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.21em;
    --top-offset: 21.75vh;
    --fall-duration: 7.629s;
    --fall-delay: 3.231s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.34em;
    --top-offset: 35.83vh;
    --fall-duration: 7.962s;
    --fall-delay: 6.478s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5em;
    --top-offset: 18.54vh;
    --fall-duration: 11.968s;
    --fall-delay: 1.562s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.43em;
    --top-offset: 66.61vh;
    --fall-duration: 6.904s;
    --fall-delay: 4.633s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.64em;
    --top-offset: 26.16vh;
    --fall-duration: 11.592s;
    --fall-delay: 9.9s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.17em;
    --top-offset: 49.84vh;
    --fall-duration: 10.103s;
    --fall-delay: 7.144s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.17em;
    --top-offset: 98.7vh;
    --fall-duration: 6.275s;
    --fall-delay: 1.416s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.57em;
    --top-offset: 84.71vh;
    --fall-duration: 9.482s;
    --fall-delay: 0.887s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.19em;
    --top-offset: 2.89vh;
    --fall-duration: 10.77s;
    --fall-delay: 6.883s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.54em;
    --top-offset: 20.13vh;
    --fall-duration: 11.173s;
    --fall-delay: 2.431s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.01em;
    --top-offset: 50.61vh;
    --fall-duration: 10.033s;
    --fall-delay: 4.541s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.73em;
    --top-offset: 46.55vh;
    --fall-duration: 10.631s;
    --fall-delay: 6.587s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.87em;
    --top-offset: 8.42vh;
    --fall-duration: 9.53s;
    --fall-delay: 3.737s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.31em;
    --top-offset: 26.98vh;
    --fall-duration: 11.837s;
    --fall-delay: 8.438s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  } */
  
  /*# sourceMappingURL=style.css.map */
  